<%- include('header') %>

<h1><%= title %></h1>
<% if (errorMessage == "deck_full") { %>
<p class="error">Votre Deck est déjà complet (5 cartes sur 5) !</p>
<% } else if (errorMessage == "already_in_deck") { %>
<p class="error error--alrdyIn">Cette carte fait déjà partie de votre Deck !</p>
<% } %>

<div class="cards__container container">
  <% cards.forEach( (card) => { %>

  <div class="card">
    <a href="/card/<%= card.name %>">
      <img
        src="/visuals/<%= card.visual_name %>"
        alt="<%= card.name %> illustration"
      />
      <p class="card__infos--name"><%= card.name %></p>
    </a>
  </div>

  <% }) %>
</div>

<%- include('footer') %>
