<%- include('partials/header') %>

<h1><%= title %></h1>

<div class="container">
  <div class="infos__wrapper wrapper">
    <div class="img__wrapper wrapper">
      <img
        src="/visuals/<%= card.visual_name %>"
        alt="<%= card.name %> illustration"
        class="img"
      />
    </div>
    <div class="values__wrapper">
      <p class="card__value card__value--name">
        <span><%= card.name %></span>
      </p>
      <p class="card__value card__value--element">
        ELEMENT : <span><%= card.element %></span>
      </p>
      <p class="card__value card__value--level">
        NIVEAU : <span><%= card.level %></span>
      </p>
      <p class="card__value card__value--north">
        VALEUR NORD : <span><%= card.value_north %></span>
      </p>
      <p class="card__value card__value--east">
        VALEUR EST : <span><%= card.value_east %></span>
      </p>
      <p class="card__value card__value--south">
        VALEUR SUD : <span><%= card.value_south %></span>
      </p>
      <p class="card__value card__value--west">
        VALEUR OUEST : <span><%= card.value_west %></span>
      </p>
    </div>

    <div class="button__wrapper--abs wrapper">
      <a
        class="button__add plus radius"
        title="Ajouter au deck"
        href="/deck/add/<%= card.id %>"
      >
      </a>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
