<%- include('header') %>

<h1><%= title %></h1>

<div class="deck__container container">
  <% if (!deck.length) { %>

  <p class="error error--emptydeck">Aucune carte n'est encore présente dans ton Deck !</p>

  <% } else { %> <% for (const card of deck) { %>
  <div class="card__wrapper">
    <div class="card">
      <a href="/card/<%= card.name %>">
        <img
          src="/visuals/<%= card.visual_name %>"
          alt="<%= card.name %> illustration"
        />
        <p class="card__infos--name"><%= card.name %></p>
      </a>
    </div>
    <a class="button__remove" href="/deck/delete/<%= card.id %>"></a>
  </div>

  <% }} %>
</div>

<%- include('footer') %>
