<%- include('partials/header') %>

<h1><%= title %></h1>

<div class="cards__container container">
  <% cards.forEach( (card) => { %>

    <div class="card">
      <a href="/card/<%= card.name %>">
        <img src="/visuals/<%= card.visual_name %>" alt="<%= card.name %> illustration">
        <p class="card__infos--name"><%= card.name %></p>
      </a>
    </div>

  <% }) %>
</div>

<%- include('partials/footer') %>